# Example: Hetzner AX-102 Server Configuration
# AX-102: AMD Ryzen 9 7950X3D, 128GB DDR5, 2x 1.92TB NVMe
# https://www.hetzner.com/dedicated-rootserver/ax102

PVE_HOSTNAME="pve-ax102"
PVE_FQDN="pve-ax102.mycompany.com"
PVE_TIMEZONE="Europe/Berlin"
PVE_EMAIL="ops@mycompany.com"
PVE_ROOT_PASSWORD="CHANGE_ME_BEFORE_USE"

PVE_KEYBOARD="en-us"
PVE_COUNTRY="de"

PVE_DISK_MODE="auto"
PVE_FILESYSTEM="zfs"
PVE_ZFS_RAID="raid1"
PVE_ZFS_COMPRESS="lz4"
PVE_ZFS_ARC_MAX="16384"

PVE_NETWORK_MODE="nat"
PVE_PRIVATE_SUBNET="10.10.10.0/24"
PVE_DNS_SERVERS="185.12.64.1 185.12.64.2 1.1.1.1"

PVE_BOOT_MODE="auto"
PVE_DEBIAN_SUITE="trixie"
PVE_LOG_LEVEL=1
