# Example: Hetzner EX-44 Server Configuration
# EX-44: Intel Core i5-13500, 64GB DDR4, 2x 512GB NVMe
# https://www.hetzner.com/dedicated-rootserver/ex44

PVE_HOSTNAME="pve-ex44"
PVE_FQDN="pve-ex44.mycompany.com"
PVE_TIMEZONE="UTC"
PVE_EMAIL="sysadmin@mycompany.com"
PVE_ROOT_PASSWORD="CHANGE_ME_BEFORE_USE"

PVE_KEYBOARD="en-us"
PVE_COUNTRY="us"

PVE_DISK_MODE="auto"
PVE_FILESYSTEM="zfs"
PVE_ZFS_RAID="raid1"
PVE_ZFS_COMPRESS="lz4"
PVE_ZFS_ARC_MAX="8192"

PVE_NETWORK_MODE="nat"
PVE_PRIVATE_SUBNET="192.168.100.0/24"
PVE_DNS_SERVERS="185.12.64.1 185.12.64.2"

PVE_BOOT_MODE="auto"
PVE_DEBIAN_SUITE="trixie"
PVE_LOG_LEVEL=1
